/* CSS using Mobile-first approach */

/* basic layout */
* {
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh; 
  width: 100vh; 
}

body {
  background: url('.././../public/images/palworld.jpg') no-repeat center center fixed;
  background-size: cover;
}
.app {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0C172D;
} 

/* HEADER */
.header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%; 
  padding: 5px 0 0 0; 
  box-sizing: border-box;
}

/* LINKS/ROUTES */
.route-item a {
  text-decoration: none;
}

.route-item a:hover {
  color: #007bff; 
}

.route-item {
  margin: 10px 0;
  padding: 5px;
}

ul,li, a {
  list-style: none;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
}

.footer p {
  color: #FFFFFF; 
}

/* wider screen styles */
@media (min-width: 300px) {


}