/* CSS using Mobile-first approach */

/* basic layout */
* {
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh; 
  width: 100vh; 
}

body {
  background: url('.././../public/images/palworld.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 40px; 
}
.app {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0C172D;
} 

/* HEADER */
.header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%; 
  padding: 5px 0 0 0; 
  box-sizing: border-box;
}

/* LINKS/ROUTES */
.route-item {
  border: none;
  background-color: lightgrey;
  padding: 10px;
  margin: 10px 10px 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.route-item a {
  text-decoration: none;
  color: grey;

}

.route-item a:hover {
  background-color: lightgrey; 
  color: darkgrey; 
}

.route-item {
  margin: 10px 0;
  padding: 5px;
}

ul,li, a {
  list-style: none;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
}

.footer p {
  color: #FFFFFF; 
}

