/* FONTS and FONT SIZES */
/* Import fonts (Inknut Antiqua and Biorhyme) */
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Inknut+Antiqua:wght@400;600&display=swap'); 

h1 {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

p, h2, h3, a {
  font-family: "BioRhyme", serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 20px;
  padding: 10px; 
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}


/* wider screen styles */
@media (min-width: 400px) {

    /* FONT SIZES */
    h1 {
      font-size: 32px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    h3 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }
  
  }